:root {
    --font-fam: "Inter", sans-serif;;
    --blue: #1954FF;
    --dark-blue: #0001D0;
    --orange: #FA7762;
    --color-font: #ffffff;
    --easing: 400ms cubic-bezier(.694, .048, .335, 1);
}

@keyframes defilement-rtl {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    100% {
      -webkit-transform: translate(-100%);
      transform: translate(-100%);
    }
  }

@supports (-moz-backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%)) or
  (backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%)) {
  .leaflet-popup-content-wrapper {
    background-color: rgba(255, 255, 255, 0.2)!important;
    backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
  }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    height: calc((100vw / 26) * 14); /* force le 16/9 */
}

.preview > iframe {
    width: inherit;
    height: inherit;
    border-radius: 4px;
}

main {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.notification {
    padding: 12px 20px;
    position: fixed;
    z-index: 1001;
    /* min-height: 116px;
    top: -116px; */
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 42px 250px 25px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 14px;
    background: #A5A5A5;
    -webkit-box-shadow: 0px 3px 20px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 20px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 20px rgba(0,0,0,0.15);
    transition: top var(--easing);
}

.notif-icon {
    grid-area: 1 / 1 / 2 / 2; 
}

.icon { 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D8D5D5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.notif-text { 
    grid-area: 1 / 2 / 2 / 3; 
    padding: 0 10px;
}

.notif-text h3 {
    font-size: 1em;
    font-family: var(--font-fam);
    font-weight: 500;
    line-height: 1.5;
    color: white;
    margin: 0;
}

.notif-text p {
    font-size: .75em;
    font-family: var(--font-fam);
    font-weight: 400;
    line-height: 1.5;
    color: white;
    margin: 8px 0 0 0;
}

.notif-close { grid-area: 1 / 3 / 2 / 4; }

.btn-close {
    background: #D8D5D5;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.btn-close img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 88px;
    padding: 12px 20px;
    background: #EFEDED;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    -webkit-box-shadow: 0px 6px 8px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 6px 8px rgba(0,0,0,0.15);
    box-shadow: 0px 6px 8px rgba(0,0,0,0.15);
    transition: top var(--easing);
}

header h1 {
    font-size: 1.25em;
    font-family: var(--font-fam);
    font-weight: 600;
    color: #707070;
    margin: 10px 0 0 0;
}

#mapid {
    width: 100vw;
    height: 100vh;
}

.btn {
    display: none;
    width: 60px;
    height: 60px;
    outline: none;
    cursor: pointer;
    font-family: var(--font-fam);
    background-color: cornflowerblue;
    border: none;
    border-radius: 0.25rem;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 4%;
    transition: 300ms ease;
    z-index: 400;
}

.btn span a {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.fullScreen-btn {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 4px;
    position: fixed;
    bottom: 5%;
    left: 10px;
    transition: 300ms ease;
    z-index: 400;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .15);
}

.fullScreen-btn img {
    width: 80%;
    height: auto;
}

/*    À termes, combiner les styles du bouton fullscreen et le bouton locate     */

.locate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 4px;
    position: fixed;
    top: 115px;
    left: 10px;
    transition: 300ms ease;
    z-index: 1000;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .15);
}

.locate-btn img {
    width: 80%;
    height: auto;
}

.active {
    display: initial;
}

.range {
    display: none;
    position: fixed;
    bottom: 37px;
    left: 4%;
    z-index: 400;
    width: 225px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    
}

.range-value {
    font-size: 0.875em;
    font-family: var(--font-fam);
    font-weight: 500;
    color: black;
}

.field {
    width: 80%;
    display: flex;
    justify-content: center;
}

.opacityCursor {
    /* -webkit-appearance: none; */
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

/* .field input::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #664AFF;
    border-radius: 50%;
    border: 1px solid #664AFF;
    cursor: pointer;
} */

.leaflet-popup-content-wrapper {
    width: 265px;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f5f5f5;
    /* -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(130%);
    backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(130%); */
}

.leaflet-popup-content {
    margin: 0;
}

.step {
    width: inherit;
    padding: 0 20px;
}

.leaflet-popup-tip-container .leaflet-popup-tip {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(130%);
    backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(130%);
}

/* zoom control */
.leaflet-top,
.leaflet-right {
    margin: 10px;
}

.leaflet-top .leaflet-control,
.leaflet-left .leaflet-control {
    margin: 0;
}

.leaflet-touch .leaflet-bar {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50vh;
    transform: translateY(-50%);
}

.leaflet-touch .leaflet-bar a {
    width: 35px;
    height: 35px;
}

.leaflet-bar a {
    background-color: #FA706D;
    color: white;
    border: none;
    padding: 1px;
    -webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
    transition: all 200ms ease-in-out;
}

.leaflet-bar a.leaflet-disabled {
    background-color: #c05454;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-radius: 50%;
    margin-bottom: 10px;
}
.leaflet-touch .leaflet-bar a:last-child {
    border-radius: 50%;
}

/* layers control */
.leaflet-control-layers {
    bottom: -88vh;
}

.popup-photo {
    /* width: 100%; */
    height: auto;
    position: relative;
    margin-bottom: 10px;
}

.popup-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.popup-photo span {
    width: 92%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.popup-header {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    border-radius: 10px;
    /* box-shadow: 0px 0px 16px #000000; */
}

.step-icon {
    width: 20%;
    background-color: var(--blue);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.step-icon img {
    width: 50%;
    height: auto;
}

.step-name {
    width: 80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
}

.step-name h3 {
    padding: 0 20px;
}

.leaflet-container a.leaflet-popup-close-button {
    width: 30px;
    height: 30px;
    top: 13px;
    right: 19px;
    padding: 0;
    font-size: 1.75em;
    border-radius: 8px;
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-description {
    margin: 20px 0;
}

.popup-description p {
    margin: 0;
    text-align: justify;
    font-size: 1.375em;
    line-height: 1.5;
}

.author {
    width: inherit;
    font-style: italic;
    text-align: right;
}

.know-more {
    border: none;
    cursor: pointer;
    width: 100%;
    /* height: 40px; */
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    padding: 18px 0px;
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--blue);
    border-radius: 16px;
}

.shutter {
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    /* background: var(--blue); */
    background: #C9C9C9;
    transition: left var(--easing);
}


.notch {
    width: 30px;
    height: 100px;
    cursor: pointer;
    position: absolute;
    left: -30px;
    top: 135px;
    z-index: 401;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    /* background-color: var(--blue); */
    background: #C9C9C9;
}

.shutter-header {
    display: flex;
    position: absolute;
    left: 20px;
    top: 30px;
    align-items: center;
}

.notch-close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open {
    left: 0;
}

.arrow {
    width: 70%;
    height: auto;
} 

.close {
    width: 90%;
    height: auto;
}

.main-indicator h3 {
    font-size: 1em;
    font-family: var(--font-fam);
    font-weight: 500;
    line-height: 1.5;
    color: white;
    width: 144px;
    margin: 0;
    background: #C9C9C9;
    border-radius: 8px;
    padding: 3px 16px;
}

.premoneade-indicator h3 {
    font-size: 1em;
    font-family: var(--font-fam);
    font-weight: 500;
    line-height: 1.5;
    color: white;
    width: 144px;
    margin: 0;
    background: #676767;
    margin-left: 15px;
    border-radius: 8px;
    padding: 3px 16px;
}

.premonade-rank {
    font-weight: 700;
    color: #C9C9C9;
}

.step-address {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.address {
    font-size: 1em;
    font-family: var(--font-fam);
    color: #838383;
    margin-top: 0;
    margin-left: 5px;
}

.step-address img {
    width: 20px;
    height: auto;
}

.shutter-content {
    display: none;
}

.shutter-content h2 {
    font-size: 1.625em;
    font-family: var(--font-fam);
    font-weight: 500;
    line-height: 1.5;
    color: white;
    margin-top: 0;
}

.shutter-content h2 > span {
    color: #838383;
}

.doc-header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.doc-header h3 {
    font-size: 1em;
    font-family: var(--font-fam);
    font-weight: 500;
    line-height: 1.5;
    color: white;
    margin: 0;
}

.doc-list {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    background: rgba(88, 156, 248, .32);
}

.doc-number {
    font-size: 1em;
    font-family: var(--font-fam);
    font-weight: 600;
    color: #589CF8;
    margin: auto;
}

.shutter-page {
    margin: 20% 0 10% 0;
    padding: 0 20px;
}

.step-document {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.document {
    margin-bottom: 1.25rem;
    background: #BABABA;
    border-radius: 12px;
    min-width: 100%;
}

.informations {
    width: 100%;
    height: auto;
    font-family:  var(--font-fam);
    color: #fff;
}

.main-information{
    padding: 15px;
}

.document > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    min-width: 100%;
    min-height: 90px;
    background: #E6E6E6;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .15);
    padding: 10px;
    cursor: pointer;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(88, 156, 248, .8);;
}

.photo-doc {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #838383;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-doc img {
    width: 50%;
    height: auto;
}

.doc-content {
    width: 70%;
}

.doc-content p,
.doc-content span{
    font-family:  var(--font-fam);;
    font-size: 0.75em;
    line-height: 1.5;
    margin: 0;
    color: #7E7E7E
}

.doc-content p a {
    color: inherit;
}

.doc-content span {
    text-transform: capitalize;
    font-weight: 600;
    color: #76ACF4;
}

.informations p {
    font-size: 0.875em;
    line-height: 1.6;
    margin: 0 0 15px 0;
    /* color: #fff; */
}

.source {
    font-size: 0.875em;
    text-align: right;
    color: #888888;
    text-transform: capitalize;
}

.informations p a {
    color: inherit;
}

.marquee-rtl {
    overflow: hidden; /* important */
    width: 100%; /* A ADAPTER */
}
.marquee-rtl > div {
    display: inline-block; /* important */
    white-space: nowrap; /* important */
    animation: defilement-rtl 15s infinite linear; /* défilement */
    cursor: pointer;
    padding: 0 2em 0 100%;
}

.marquee-rtl > div span {
    font-size: 0.875em;
    padding: 1px 5px;
    border-radius: 5px;
    background: #838383;
    text-transform: capitalize;
    color: #fff;
}

.card-preview {
    width: 92%;
    margin: 1rem auto;
    padding: 12px;
    border-radius: 6px;
    background: #E6E6E6;
}

.preview {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

.shadow {
    position: absolute;
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow a {
    font-family: var(--font-fam);
    font-weight: 500;
    font-size: 1em;
    color: #fff;
}

.card-preview > div h3  {
    font-size: .875em;
    font-family: var(--font-fam);
    font-weight: 400;
    color: #76ACF4;
    margin: 0;
}

.card-preview > div span {
    display: block;
    margin: 5px 0;
}

.card-preview > div span a {
    font-family: var(--font-fam);
    font-size: .75em;
    color: #B7B6B6;
}

.augmented-reality-link {
    color: #646464;
    text-decoration: none;
    font-family:  var(--font-fam);;
    font-size: 1.25em;
    font-weight: 600;
    display: none;
}

.route-section h2 {
    font-size: 1.625em;
    font-family: var(--font-fam);
    font-weight: 600;
    line-height: 1.5;
    color: #676767;
    margin-top: 0;
}

.route-section p {
    font-size: 1.125em;
    font-family: var(--font-fam);
    font-weight: 400;
    line-height: 1.6;
    color: #676767;
}

.intro-promenade {
    padding: 0 25px;
}

.route {
    width: 100%;
    height: auto;
    background: #EFEDED;
    margin-top: 1.5rem;
    padding: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.route h3 {
    font-size: 1.375em;
    font-family: var(--font-fam);
    font-weight: 600;
    line-height: 1.5;
    color: #676767;
    margin-top: 0;
}

.step-route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 90px;
    margin-bottom: 1.2rem;
}

.step-route-info {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #959595;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .15);
    transition: height 1s ease;
}

.step-route-address {
    width: 78%;
}

.step-route-address > div {
    display: flex;
    justify-content: space-between;
}

.step-route-address > div span,
.step-route-address > p {
    font-family:  var(--font-fam);;
    line-height: 1.5;
}

.location {
    max-width: 180px;
    font-size: 0.75em;
    font-weight: 300;
    color: #F0F0F0;
}
.step-route-address > p {
    font-size: 1em;
    color: #F8F8F8;
    margin: 4px 0 0 0;
}

.distance {
    background: #838383;
    border-radius: 5px;
    max-height: 21px;
    font-size: 0.75em;
    padding: 1px 6px;
    color: #F8F8F8;
}

.augmented-reality-btn {
    width: 305px;
    height: 65px;
    background: #E3E3E3;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.augmented-reality-btn img {
    width: 10%;
    height: auto;
}
.augmented-reality-btn span {
    margin-left: 10px;
}

.video-type {
    position: fixed;
    bottom: -70%;
    left: 0;
    height: auto;
    padding: 0;
    background: #A1C6B9;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    transition: bottom var(--easing);
}

.touch-bar {
    width: 75px;
    height: 8px;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
}

.additional-infos {
    padding: 20px 34px;
}

.additional-infos p {
    margin-bottom: 15px;
}

.additional-infos > span,
.main-information > span {
    font-family: var(--font-fam);
    padding: 1px 5px;
    border-radius: 5px;
    background: #838383;
    /* box-shadow: #838383 0px 0px 0px inset; */
    text-transform: capitalize;
    color: #fff;
}

.additional-infos > span a,
.additional-infos > span,
.main-information > span,
.main-information > span a {
    font-family: var(--font-fam);
    font-size: 0.875em;
    color: #fff;
}

.hidden {
    display: none;
}

.reveal {
    display: block;
}

.opacityCursor-reveal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-reveal {
    bottom: 0;
}
.main-indicator .premonade-rank {
    color: #676767;
}

.extend {
    height: 200px;
}

.closed {
    top: -88px;
}